@import "../../../assets/variables.scss";

.footer p {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $light_gray;
  text-align: center;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .footer p {
    position: static;
  }
}
