<div class="contactContent">
  <div class="contactText">
    <p>
      Deixe sua mensagem e
      <br />
      me siga nas redes sociais!
    </p>
    <img src="../../../assets/imgs/Robot_Img.svg" alt="" class="contact-img" />
    <div class="contactLinks">
      <a href="https://www.linkedin.com/in/henrique-fernandez-bb3751212/" target="_blank" class="btn">
        <img src="../../../assets/icon/Linkedin_Icon.svg" alt="Linkedin profile button icon" class="contact-link-icon">
        LinkedIn
      </a>
      <a href="https://www.instagram.com/coding.rick/?theme=dark" target="_blank" class="btn">
        <img src="../../../assets/icon/Instagram_Icon.svg" alt="Instagram profile button icon" class="contact-link-icon">
        Instagram
      </a>
      <a href="https://github.com/RickFernandez" target="_blank" class="btn">
        <img src="../../../assets/icon/GitHub_Icon_2.svg" alt="GitHub button icon" class="contact-link-icon">
        GitHub
      </a>
    </div>
  </div>
  <div class="formBox">
    <form class="form" action="#">
      <h2>Entre em Contato!</h2>
      <div class="inputBox">
        <input type="text" required="required" id="topic"/>
        <label for="topic">Assunto</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" required="required" id="name"/>
        <label for="name">Seu nome</label>
        <span></span>
      </div>
      <textarea
        class="inputBox txtArea"
        placeholder="Sua mensagem..."
        form="message"
      ></textarea>
      <button class="button">
        Enviar
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
          <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
        </svg>
      </button>
    </form>
  </div>
</div>
