@import "../../../assets/variables.scss";

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 11rem;
  height: 10rem;

  img {
    width: 7.5rem;
    opacity: 1;
  }

  img:hover {
    cursor: pointer;
  }

  ul {
    display: flex;
    margin: 0;
    opacity: 1;

    li {
      position: relative;
      list-style: none;
      font-weight: 400;
      padding: 1.2rem 1.8rem;
      pointer-events: all;
      transition: 0.3s;
      overflow: hidden;
      opacity: 1;
    }

    li:after {
      content: "";
      position: absolute;
      bottom: .5rem;
      height: .3rem;
      width: 0%;
      left: 50%;
      background: $blue;
      transform: translateX(-50%);
      transition: 0.3s;
    }

    li:hover,
    li.active {
      cursor: pointer;
      color: $blue;
    }

    li:hover:after {
      width: 80%;
    }
  }
}

.changeHeader {
  background-color: $gray;
  box-shadow: 0px 5px 5px -1px rgba(255,255,255,0.15);
}
