<div class="aboutContent">
  <p class="text">
    Olá, tudo bem? Espero que sim!!
    <br><br>
    <span>Me chamo Henrique Fernandez</span>, mas pode me chamar de Rick. =)
    <br><br>
    Tenho <span>19 anos</span> e atualmente estou estudando <span>Desenvolvimento Web e Mobile Full-Stack na FIAP</span>.
    <br><br>
    Na época da escola eu nunca fui muito interessado em estudar, matérias como Português, História, etc... Sempre ficava me mordendo por dentro quando chegavam as épocas de provas, pois não suportava ter que estudar essas matérias.
    <br><br>
    <span>Quando conheci área da programação</span>, onde eu vi que com apenas um código eu poderia fazer e mudar diversas coisas, <span>me apaixonei na hora</span>. E desde então, <span>venho estudando cada vez mais</span>, e <span>não por "obrigação"</span> , e sim <span>por paixão</span>, <span>por prazer</span>, <span>por realmente gostar e me interessar pel área</span>.
    <br><br>
    Desde então procuro aprimorar cada vez mais o meu conhecimento e minhas habilidades nesta área, pois sei que eu farei a diferença! E <span>compartilho toda a minha evolução em meu perfil Tech do instagram @coding.rick</span>.
  </p>

  <img src="../../../assets/imgs/About_Img.svg" alt="">
</div>

