<div class="aboutContent">
  <p class="text">
    Tenho 19 anos, sou graduado em Sistemas para Internet pela FIAP, onde estudei Desenvolvimento Web e Mobile Full-Stack.
    <br><br>
    Tive minha primeira oportunidade num programa de estágio, onde na primeira fase (primeiros 6 meses) fiquei estudando e atuando em projetos internos, como:
    <br>
    Um projeto legado, que era a plataforma da empresa, onde aturei fazendo melhorias.
    <br>
    Na refatoração dessa plataforma, onde atuei desde o design e prototipação das novas telas, até seu desenvolvimento.
    <br>
    E na criação de um novo projeto KPI (Key Performance Indicator), onde como na refatoracao, atuei desde o design e prototipação até o desenvolvimento.
    <br><br>
    Após essa primeira fase, fui alocado numa equipe de suporte dentro do banco BTG Pactual. Onde realizava melhorias na plataforma interna do banco, mexia com projetos legados e tinha como demanda principal priorizar a sustentação dos processos diários do banco.
  </p>
  <img src="../../../assets/imgs/About_Img.svg" alt="">
</div>

