@import "../../../assets/variables.scss";

div.aboutContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 11rem;
  gap: 10rem;

  p {
    text-align: start;
    font-size: 1.8rem;

    span {
      color: $blue;
    }
  }

  img {
    width: 60rem;
    pointer-events: none;
  }
}
