<div class="skillsContainer">
  <img src="../../../assets/imgs/Skill_Img.svg" alt="" class="Skills_Img" />
  <div class="skills" *ngFor="let skill of skills">
    <div class="front">
      <h2>Front-End</h2>
      <div class="icons">
        <div class="skillIcon" *ngFor="let frontSkill of skill.front">
          <img src="{{ frontSkill.imgSrc }}" alt="{{ frontSkill.name }}" />
          <span>{{ frontSkill.name }}</span>
        </div>
      </div>
    </div>
    <div class="back">
      <h2>Back-End</h2>
      <div class="icons">
        <div class="skillIcon" *ngFor="let backSkill of skill.back">
          <img src="{{ backSkill.imgSrc }}" alt="{{ backSkill.name }}" />
          <span>{{ backSkill.name }}</span>
        </div>
      </div>
    </div>
    <div class="others">
      <h2>Outras</h2>
      <div class="icons">
        <div class="skillIcon" *ngFor="let otherSkill of skill.other">
          <img src="{{ otherSkill.imgSrc }}" alt="{{ otherSkill.name }}" />
          <span>{{ otherSkill.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
