<div class="skillsContainer">
  <img src="../../../assets/imgs/Skills_Img.svg" alt="" class="Skills_Img" />
  <div class="skills">
    <div class="front">
      <h2>Front-End</h2>
      <div class="icons">
        <img src="../../../assets/icon/Html_Icon.svg" alt="Html" />
        <img src="../../../assets/icon/Css_Icon.svg" alt="Css" />
        <img src="../../../assets/icon/Js_Icon.svg" alt="JavaScript" />
        <img src="../../../assets/icon/Angular_Icon.svg" alt="Angular" />
        <img src="../../../assets/icon/Ts_Icon.svg" alt="TypeScript" />
        <img src="../../../assets/icon/Bootstrap_Icon.svg" alt="Bootstrap" />
        <img src="../../../assets/icon/Sass_Icon.svg" alt="Sass/ Scss" />
      </div>
    </div>
    <div class="back">
      <h2>Back-End</h2>
      <div class="icons">
        <img src="../../../assets/icon/MySQL_Icon.svg" alt="MySQL" />
        <img src="../../../assets/icon/Java_Icon.svg" alt="Java" />
        <img src="../../../assets/icon/Dotnet_Icon.svg" alt=">NET" />
        <img src="../../../assets/icon/Csharp_Icon.svg" alt="C#" />
      </div>
    </div>
    <div class="others">
      <h2>Outras</h2>
      <div class="icons">
        <img src="../../../assets/icon/Git_Icon.svg" alt="Git" />
        <img src="../../../assets/icon/Github_Icon.svg" alt="GitHub" />
        <img src="../../../assets/icon/Figma_Icon.svg" alt="Figma" />
        <img src="../../../assets/icon/Responsivity_Icon.svg" alt="Responvidade" />
      </div>
    </div>
  </div>
</div>
