@import "../../../assets/variables.scss";

.bgAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background: $dark_gray;
  filter: saturate(2);
  overflow: hidden;
}

.backgroundAmim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background: $blue;
  filter: blur(60px);
  animation: aniBack 6s linear infinite;
}

@keyframes aniBack {
  0% {
    top: -60px;
  }
  100% {
    top: 120%;
  }
}

.mainContent {
  backdrop-filter: blur(1px);
  pointer-events: none;

  section {
    text-align: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;

    img,
    .shape {
      display: none;
    }

    .textBox {
      h1 {
        font-size: 6rem;
        color: $blue;

        span {
          font-size: 1.8rem;
          color: $white;
          display: block;
          margin-block: 1rem;
          letter-spacing: 1rem;
        }
      }

      p {
        margin: 0;
        font-size: 3rem;
        text-align: center;
      }

      .btns {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .homeBtn {
          font-family: "Poppins";
          padding: 1rem 2rem;
          margin: 1.6rem 1.2rem;
          font-size: 2.6rem;
          background-color: transparent;
          color: var(--i);
          outline: none;
          border: 3px solid var(--i);
          border-radius: 0.4rem;
          cursor: pointer;
          pointer-events: all;
          transition: 0.3s;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          text-decoration: none;

          svg {
            width: 3rem;
            height: 3rem;
          }
        }

        .homeBtn:hover {
          background-color: var(--i);
          color: $black;
        }

        .homeBtn:nth-child(2):hover > svg {
          animation: onExplorer 1s linear infinite;
        }
      }
    }
  }
}

@keyframes onExplorer {
  0% {
    transition: transform 0.3s;
    transform: translateX(0);
  }
  50% {
    transition: transform 0.3s ease-in-out;
    transform: translateX(5px);
  }
  100% {
    transition: transform 0.3s;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1024px) {
  .mainContent {
    section {
      .textBox {
        h1 {
          font-size: 5rem;

          span {
            letter-spacing: 0.7rem;
          }
        }

        .btns {
          .homeBtn {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .bgAnimation,
  .backgroundAmim {
    display: none;
  }

  .mainContent {
    position: relative;
    overflow: hidden;

    section {
      gap: 2rem;

      .shape {
        display: block;
        position: absolute;
        width: 20rem;
        height: 20rem;
        background-image: linear-gradient(45deg, $white 0%, $blue 100%);
        animation: morph 8s ease-in-out infinite;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        transition: all 1s ease-in-out;
        z-index: -1;
        bottom: -5rem;
        left: -5rem;
      }

      .s2 {
        left: auto;
        top: -5rem;
        right: -5rem !important;
      }

      img {
        width: 18rem;
        display: block;
        border-radius: 50%;
      }
    }
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, var($blue) 0%, var($white) 100%);
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, $blue 0%, var($white) 100%);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, var($blue) 0%, var($white) 100%);
  }
}

@media screen and (max-width: 500px) {
  .mainContent {
    section {
      img {
        width: 12rem !important;
      }

      .textBox {
        padding-inline: 2rem !important;

        p {
          font-size: 2rem !important;
        }

        h1 {
          font-size: 3rem !important;
        }

        .btns {
          .homeBtn {
            gap: 8px !important;
            margin: 1.5rem 2rem !important;
            padding: 1rem 2rem !important;
            font-size: 1.6rem !important;

            svg {
              width: 2rem !important;
              height: 2rem !important;
            }
          }
        }
      }
    }
  }
}
