@import "../../../assets/variables.scss";

.bgAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background: $dark_gray;
  filter: saturate(2);
  overflow: hidden;
}

.backgroundAmim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background: $blue;
  filter: blur(60px);
  animation: aniBack 6s linear infinite;
}

@keyframes aniBack {
  0% {
    top: -60px;
  }
  100% {
    top: 120%;
  }
}

.mainContent {
  backdrop-filter: blur(1px);
  pointer-events: none;

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
    pointer-events: none;

    .textBox {
      h1 {
        font-size: 6rem;
        color: $blue;

        span {
          font-size: 1.8rem;
          color: $white;
          display: block;
          margin-block: 1rem;
          letter-spacing: 1rem;

          span {
            color: $blue;
          }
        }
      }

      p {
        margin: 0;
        font-size: 3rem;
        text-align: center;
      }

      .btns {
        display: flex;
        align-items: center;
        justify-content: center;

        .homeBtn {
          font-family: "Poppins";
          padding: 1rem 2rem;
          margin: 1.6rem 1.2rem;
          font-size: 2.6rem;
          background-color: transparent;
          color: var(--i);
          outline: none;
          border: 3px solid var(--i);
          border-radius: .4rem;
          cursor: pointer;
          pointer-events: all;
          transition: 0.3s;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          text-decoration: none;

          svg {
            width: 3rem;
            height: 3rem;

          }
        }

        .homeBtn:hover {
          background-color: var(--i);
          color: $black;
        }

        .homeBtn:nth-child(2):hover > svg {
          animation: onExplorer 1s linear infinite;
        }
      }

    }
  }
}

@keyframes onExplorer {
  0% {
    transition: transform .3s;
    transform: translateX(0);
  }
  50% {
    transition: transform .3s ease-in-out;
    transform: translateX(5px);
  }
  100% {
    transition: transform .3s;
    transform: translateX(0);
  }
}
