<div class="bgAnimation" id="bgAnimation">
  <div class="backgroundAmim"></div>
</div>

<div class="mainContent">
  <section>
    <div class="textBox">
      <h1><span>BEM</span> - VINDO</h1>
      <p>
        Meu nome é <span>Henrique Fernandez</span>
        <br />
        É um prazer te conhecer! Sou um Desenvolvedor Full-Stack.
      </p>
      <button
        class="homeBtn"
        style="--i: #fff"
        (click)="onClick()"
      >
        Baixar CV
      </button>
      <button
        class="homeBtn"
        style="--i: #00bfff"
        (click)="onClick()"
      >
        EXPLORAR
      </button>
    </div>
  </section>

</div>
