@import "../../../assets/variables.scss";

.card {
  width: 120rem;
  padding: 10rem 6rem 6rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
  border-top-color: rgba(255, 255, 255, 0.5);
  border-left-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgba(255, 255, 255, 0.1);
}

.cb1 {
  background-color: rgba(255, 255, 255, 0.1);

  .project-images {
    display: flex;
    align-items: center;
    justify-content: center;

    .card-img {
      height: 20rem;
    }
  }

  .card-body {
    margin-top: 5rem;
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: space-between;

    .card-number {
      position: absolute;
      z-index: -1;
      top: -1rem;
      right: 2.5rem;
      font-size: 14rem;
      color: rgba(255, 255, 255, 0.08);
    }

    .card-title {
      color: $blue;
      font-size: 4rem;
      font-weight: 700;
    }

    p.card-description {
      font-size: 1.8rem;
    }

    p.card-technology {
      margin-block: 1rem;
      font-size: 1.6rem;
      color: #707070;
    }

    .card-buttons {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: flex-start;

      .btn {
        width: 25rem;
        height: 4.5rem;
        color: var(--i);
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
        border-color: var(--i);
      }

      .btn:hover {
        color: $black;
        font-weight: 500;
        background-color: var(--i);
        box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .card {
    max-width: 70rem;
    max-height: 120rem;
    padding: 6rem 6rem 4rem;

    .project-images {
      height: 22vh;
      position: relative;

      .card-img {
        position: absolute;
        display: block;
      }

      .project-image-pc {
        left: 2rem;
        height: 20rem;
      }

      .project-image-cell {
        right: -25rem;
        height: 18rem;
      }

      .project-image-tablet {
        left: -23rem;
        height: 18rem;
      }
    }

    .card-body {
      .card-number {
        font-size: 12rem;
      }

      p.card-description,
      p.card-technology {
        font-size: 1.4rem;
      }

      .card-buttons {
        .btn {
          width: 20rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  div.card {
    max-width: 50rem;
    max-height: 70rem;
    padding: 6rem 6rem 4rem;

    div.project-images {
      img.project-image-pc {
        left: 1rem;
        height: 14rem;
      }

      img.project-image-cell {
        right: -17rem;
        height: 12rem;
      }

      img.project-image-tablet {
        left: -16rem;
        height: 12rem;
      }
    }

    div.card-body {
      .card-number {
        font-size: 10rem;
      }

      h5 {
        font-size: 3rem;
      }

      p.card-description,
      p.card-technology {
        font-size: 1.2rem;
      }

      div.card-buttons {
        a.btn {
          width: 20rem;
          height: 4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  div.card {
    width: 100%;
    max-width: 40rem;
    min-height: 60rem;
    padding: 2rem;

    .project-images {
      height: 14vh;

      .card-img {
        bottom: 0;
      }

      .project-image-pc {
        height: 10rem !important;
        left: 0.5rem !important;
      }

      .project-image-cell,
      .project-image-tablet {
        right: -12rem !important;
        height: 8rem !important;
      }

      .project-image-tablet {
        left: -12rem !important;
      }
    }

    .card-body {
      margin-top: 4rem;
    }

    .card-buttons {
      justify-content: center;

      a {
        width: 16rem;
      }
    }
  }
}

@media screen and (max-width: 375px) {
}
