@import "../../../assets/variables.scss";

.card {
  // max-width: 70rem;
  // max-height: 70rem;
  width: 120rem;
  padding: 10rem 6rem 6rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
  border-top-color: rgba(255, 255, 255, 0.5);
  border-left-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgba(255, 255, 255, 0.1);
}

.cb1 {
  background-color: rgba(255, 255, 255, 0.1);

  .project-images {
    display: flex;
    align-items: center;
    justify-content: center;

    .card-img {
      height: 20rem;
    }
  }

  .card-body {
    margin-top: 5rem;
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: space-between;

    .card-number {
      position: absolute;
      z-index: -1;
      top: -1rem;
      right: 2.5rem;
      font-size: 14rem;
      color: rgba(255, 255, 255, 0.08);
    }

    .card-title {
      color: $blue;
      font-size: 4rem;
      font-weight: 700;
    }

    .card-description {
      font-size: 1.8rem;
    }

    .card-technology {
      margin-block: 1rem;
      font-size: 1.6rem;
      color: #707070;
    }

    .card-buttons {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: flex-start;

      .btn {
        width: 25rem;
        height: 4.5rem;
        color: var(--i);
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
        border-color: var(--i);
      }

      .btn:hover {
        color: $black;
        font-weight: 500;
        background-color: var(--i);
        box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
      }
    }
  }
}
