@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./assets/variables.scss";
@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body,
html {
  overflow: hidden;
  max-width: 100%;
  color: $white;
  background-color: $black;
  font-family: "Poppins", sans-serif;
}

.colorBox {
  z-index: 2;
  margin: 2px;
  position: relative;
  transition: 2s ease;
  background: $dark_gray;
  filter: brightness(1.1);
}

.colorBox:hover {
  background: $blue;
  transition-duration: 0s;
}

p {
  font-size: 1.6rem;
}

li {
  font-size: 2.5rem;
}

a,
input,
label,
textarea {
  font-size: 1.4rem !important;
}

@media screen and (max-width: 1024px) {
  p {
    font-size: 1.4rem;
  }

  li {
    font-size: 2rem;
  }

  a,
  input,
  label,
  textarea {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  body,
  html {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  p {
    font-size: 1.2rem !important;
  }
}
